# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Secrets
/config/secrets.yml

/node_modules
/yarn-error.log

# Ignore Byebug command history file.
.byebug_history

# Ignore Spring files.
/spring/*.pid

# Ignore Devise Config.
/config/initializers/devise.rb
