<header>
  <div class="home-overlay"></div>
	  <div class="landing-text-box">
			  <div class="start-intro">Hi, I am Tim Fleming and I am a</div>
			    <h1>Full Stack Software Developer</h1>
			  <div class="end-intro">Offering Definitive Solutions, One App at a Time.</div>
		</div>

		<a href="#services">
		  <div class="scroll-down">
        <span>
          <i class="fas fa-angle-down fa-2x"></i>
        </span>
		</div>
    </a>
</header>

<!-- Footer start -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<p class="heart">
            Made with <span class="fas fa-heart fa-2x animated pulse"></span> by Tim Fleming
          </p>
				</div>

				<div class="col-sm-4">
          <p class="copyright"> &copy; 2018 Tim Fleming<br><a href="https://icons8.com">Favicon by Icons8</a></p>
				</div>

				<div class="col-sm-4">
					<ul class="social-links">
						<li><a href="https://angel.co/tim-fleming" class="wow fadeInUp"><i class="fab fa-angellist"></i></a></li>
						<li><a href="https://github.com/tflem" class="wow fadeInUp" data-wow-delay=".1s"><i class="fab fa-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/tim-fleming-full-stack-software-developer-30a83b24/" class="wow fadeInUp"
						     data-wow-delay=".2s"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://twitter.com/TeeFlem" class="wow fadeInUp"
						     data-wow-delay=".4s"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://stackoverflow.com/users/story/5552405" class="wow fadeInUp"
						     data-wow-delay=".5s"><i class="fab fa-stack-overflow"></i></a></li>
					</ul>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</footer>

	<!-- Footer end -->