// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
	background-color: #16171D;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 480px) {

	h1 {
		font-size: 34px;
		letter-spacing: 3px;
	}

	h2 {
		font-size: 24px;
		margin: 0 0 30px;
		letter-spacing: 3px;
	}
}
